/* app css stylesheet */

.arc-loader-container text.label {
  fill: #aaaaaa;
  text-anchor: middle;
  font-size: 14px;
}

.arc-loader-container text.label.percent-label {
  fill: #888888;
  text-anchor: start;
}

.arc-loader-container text.label.actual-value-label {
  fill: #888888;
  font-size: 32px;
  text-anchor: middle;
}

.error-msg-container {
  color: red;
  height: 22px;
}

.error-msg {
  display: none;
}
